@using EmployeeDemo.web.Models;
@model List<EmployeeModelView>;
<!-- Display Users-->
@{
    ViewData["Title"] = "Display";
}
<vc:Search-Bar search-pager="@ViewBag.SearchPager">

</vc:Search-Bar>
<div class="wrapper">
    <div id="PlaceHolder"></div>
    <div class="container-fluid table-resposive">
        <table class="__table text-primary table-striped-columns fold-table" id="__table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Action</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="employeedisplay" class="displaydata animate__animated animate__fadeInDown animate__fast float-right">
                @if (Model != null)
                {
                    @foreach (var employee in Model)
                    {
                        <tr class="view">
                            <td><button class="btn-light btn-outline-light rounded-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample-@employee.Id" aria-expanded="false" aria-controls="collapseExample-@employee.Id"><i class="bi bi-plus-circle-fill"></i></button></td>
                            <td><img src="Image/@employee.Image" height="80" width="80"> @employee.FirstName @employee.LastName</td>
                            <td>@employee.Email</td>
                            <td>@employee.Designation</td>
                            <td>@employee.Gender</td>
                            <td>
                                @Html.ActionLink("", "Upsert", new
                                    {
                                        id = employee.Id
                                    }, new { @class = "btn btn-success bi bi-pencil-square" })
                                <button type="button" class="btn btn-success bi bi-pencil-square" data-toggle="ajax-modal" data-target="#employeeAddAndEdit" data-url="@Url.Action("_UpSert/" + employee.Id)">
                                    modal
                                </button>
                                    <button class = "btn btn-danger bi bi-trash-fill" onclick = "deleteEmployeeAlert('Employee/Delete/@employee.Id')" type = "button"></button>
                            </td>
                            @* <td>
                                <div class="collapse" id="collapseExample-@employee.Id">
                                    <div><label>DateOfBirth:</label>@employee.DateOfBirth</div>
                                    <div><label>DateOfJoining:</label>@employee.DateOfJoining</div>
                                    <div><label>Skills:</label>@employee.SkillNames</div>
                                    <div><label>Description:</label>@employee.Description</div>
                                </div>
                            </td> *@
                        </tr>
                        <tr class="fold">
                            <td colspan="3">
                                <div><label>DateOfBirth:</label>@employee.DateOfBirth</div>
                                <div><label>DateOfJoining:</label>@employee.DateOfJoining</div>
                                <div><label>Skills:</label>@employee.SkillNames</div>
                                <div><label>Description:</label>@employee.Description</div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>