@using EmployeeDemo.web.Models;
@model List<EmployeeModelView>;
<!-- Display Users-->
@{
    <partial name="_Notification" />

    ViewData["Title"] = "Display";

    Pager pager = new Pager();
    int pageNo = 0;
    if(ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}
<vc:Search-Bar search-pager="@ViewBag.SearchPager">

</vc:Search-Bar>
<div class="wrapper">
    <div id="PlaceHolder"></div>
    <div class="table-resposive">
        <table class="__table text-primary table-striped-columns fold-table" id="__table">
            <thead>
                <tr>
                    <th class="text-center" scope="col"></th>
                    <th class="text-center" scope="col">
                        <a class="sortAncer" asp-action="Index" asp-route-sortOrder="@ViewData["Name"]" asp-route-pg="@pager.CurrentPage">Name</a>
                    </th>
                    <th class="text-center" scope="col">
                        <a class="sortAncer" asp-action="Index" asp-route-sortOrder="@ViewData["Email"]" asp-route-pg="@pager.CurrentPage">Email</a>
                    </th>
                    <th class="text-center" scope="col">
                        <a class="sortAncer" class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Designation
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["Project Manager"]" asp-route-pg="@pager.CurrentPage">Project Manager</a></li>
                            <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["Sr. Developer"]" asp-route-pg="@pager.CurrentPage">Sr. Developer</a></li>
                            <li><a class="dropdown-item" asp-action="Index" asp-route-sortOrder="@ViewData["Jr. Developer"]" asp-route-pg="@pager.CurrentPage">Jr. Developer</a></li>
                        </ul>
                    </th>
                    <th class="text-center" scope="col"><a class="sortAncer" asp-action="Index" asp-route-sortOrder="@ViewData["Gender"]" asp-route-pg="@pager.CurrentPage">Gender</a></th>
                    <th class="text-center" scope="col">Action</th>
                    @* <th></th> *@
                </tr>
            </thead>
            <tbody id="employeedisplay" class="displaydata animate__animated animate__fadeInDown animate__fast float-right">
                @if (Model != null)
                {
                    @foreach (var employee in Model)
                    {
                        <tr class="view">
                            <td class="text-center"><button class="btn-light btn-outline-light rounded-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample-@employee.Id" aria-expanded="false" aria-controls="collapseExample-@employee.Id"><i class="bi bi-plus-circle-fill"></i></button></td>
                            <td class="text-center"><img src="Image/@employee.Image" height="80" width="80"> @employee.FirstName @employee.LastName</td>
                            <td class="text-center">@employee.Email</td>
                            <td class="text-center">@employee.Designation</td>
                            <td class="text-center">@employee.Gender</td>
                            <td class="text-center">
                                @Html.ActionLink("", "Upsert", new
                                    {
                                        id = employee.Id
                                    }, new { @class = "btn btn-success text-center bi bi-pencil-square" })
                                <button type="button" class="btn text-center btn-success bi bi-pencil-square" data-toggle="ajax-modal" data-target="#employeeAddAndEdit" data-url="@Url.Action("UpSertPartial/" + employee.Id)">
                                    modal
                                </button>
                                    <button class = "btn text-center btn-danger bi bi-trash-fill" onclick = "deleteEmployeeAlert('Employee/Delete/@employee.Id')" type = "button"></button>
                            </td>
                            @* <td>
                                <div class="collapse" id="collapseExample-@employee.Id">
                                    <div><label>DateOfBirth:</label>@employee.DateOfBirth</div>
                                    <div><label>DateOfJoining:</label>@employee.DateOfJoining</div>
                                    <div><label>Skills:</label>@employee.SkillNames</div>
                                    <div><label>Description:</label>@employee.Description</div>
                                </div>
                            </td> *@
                        </tr>
                        <tr class="fold">
                            <td colspan="3">
                                <div>DateOfBirth:  @employee.DateOfBirth</div>
                                <div>DateOfJoining:  @employee.DateOfJoining</div>
                                <div>Skills:  @employee.SkillNames</div>
                                <div>Description:  @employee.Description</div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="bg-white">
    @if(pager.TotalPages > 0)
    {
        <ul class="pagination container justify-content-end">
            @for (var pge = pager.StartPage; pge <= pager.EndPage;pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Employee" asp-action="Index" asp-route-pg="@pge">@pge</a>
                </li>
            }
        </ul>
    }
</div>